.Body {
    max-width: 1000px;
    margin: auto;
    padding: 30px;
    min-height: 500px;
}

.footer {
    text-align: center;
}

.footer i {
    padding-left: 5px;
}

.copyright {
    font-size: xx-small;
    color: gray;
}
